<aside class="bg-body-tertiary text-dark-emphasis d-flex flex-column align-items-start px-3 pt-4 border-end h-100 sticky-top" hx-boost="true" hx-target="#app-content" hx-push-url="true" hx-indicator="#content-loading">
    @{
        // Dashboard controllers - include all role-specific dashboard controllers
        var dashboardControllers = new[] { 
            "Dashboard", 
            "AdminDashboard", 
            "OperationDashboard", 
            "ManagerTransportDashboard", 
            "AnalystHteDashboard", 
            "HteDashboard", 
            "AssistantManagerHteDashboard", 
            "VicePresidentDashboard", 
            "HseDashboard", 
            "SupplyChainManagementDashboard" 
        };

        var procurementSettingsControllers = new[] { "Vendors", "JobType", "DocumentType", "DocumentApprovals", "JobTypeDocument", "DocumentApprovalRules" };
        var procurementSettingsShowClass = Html.CollapseState(controllers: procurementSettingsControllers);
        var procurementSettingsOpen = !string.IsNullOrEmpty(procurementSettingsShowClass);
        var procurementSettingsExpanded = procurementSettingsOpen ? "true" : "false";
        var procurementSettingsChevronClass = procurementSettingsOpen ? "rotate" : string.Empty;

        var masterDataControllers = new[] { "Vendors", "JobType", "DocumentType",  };
        var masterDataShowClass = Html.CollapseState(controllers: masterDataControllers);
        var masterDataOpen = !string.IsNullOrEmpty(masterDataShowClass);
        var masterDataExpanded = masterDataOpen ? "true" : "false";
        var masterDataChevronClass = masterDataOpen ? "rotate" : string.Empty;

        var rulesAndMappingControllers = new [] { "JobTypeDocument", "DocumentApprovals", "DocumentApprovalRules" };
        var rulesAndMappingShowClass = Html.CollapseState(controllers: rulesAndMappingControllers);
        var rulesAndMappingOpen = !string.IsNullOrEmpty(rulesAndMappingShowClass);
        var rulesAndMappingExpanded = rulesAndMappingOpen ? "true" : "false";
        var rulesAndMappingChevronClass = rulesAndMappingOpen ? "rotate" : string.Empty;
    }

    <div class="d-flex w-100 justify-content-between">
        <a href="@(Url.Content("~/"))" class="h4 text-decoration-none d-flex align-items-center pb-3 me-md-0 me-md-auto">HTE</a>
        <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
    </div>

    <small class="text-muted opacity-75 ms-3 mb-2">Menu</small>

    <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 h-100">
        <li class="nav-item w-100">
            <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: dashboardControllers))"
               data-nav-controller="Dashboard"
               asp-controller="Dashboard"
               asp-action="Index"
               data-page="Dashboard"
               hx-boost="false">
                <i class="bi bi-grid"></i> <span class="ms-1">Dashboard</span>
            </a>
        </li>

        @if (User.IsInRole("Admin") || User.IsInRole("Operator")) {
            @* Procurement Menu *@
            <li class="nav-item w-100">
                <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "Procurements" }))"
                data-nav-controller="Procurements"
                asp-controller="Procurements"
                asp-action="Index"
                data-page="Index Procurements">
                    <i class="bi bi-briefcase"></i> 
                    <span class="ms-1">Procurements</span>
                </a>
            </li>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("AP-PO")) {
            @* Procurement Order Menu *@
            <li class="nav-item w-100">
                <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "ProcurementOrder" }))"
                data-nav-controller="ProcurementOrder"
                asp-controller="ProcurementOrder"
                asp-action="Index"
                data-page="Procurement Order">
                    <i class="bi bi-clipboard-check"></i>
                    <span class="ms-1">Procurement Order</span>
                </a>
            </li>

            @* PR Service *@
            <li class="nav-item w-100">
                <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "PurchaseRequisitions" }))"
                data-nav-controller="PurchaseRequisitions"
                asp-controller="PurchaseRequisitions"
                asp-action="Index"
                data-page="Index PR Service">
                    <i class="bi bi-clipboard-check"></i>
                    <span class="ms-1">PR Service</span>
                </a>
            </li>

            @* Procurement Setting Menu *@
            <li class="nav-item w-100">
                <a class="nav-link link-secondary rounded-1 d-flex justify-content-between align-items-center menu"
                data-bs-toggle="collapse"
                href="#procurementSettingSubmenu"
                role="button"
                aria-expanded="@procurementSettingsExpanded"
                aria-controls="procurementSettingSubmenu">
                    <div>
                        <i class="bi bi-gear-fill"></i>
                        <span class="ms-1">Procurement Settings</span>
                    </div>
                    <i class="bi bi-chevron-down small @procurementSettingsChevronClass"></i>
                </a>

                <div class="collapse submenu @procurementSettingsShowClass" id="procurementSettingSubmenu" data-nav-collapse="Vendors,JobType,DocumentType,DocumentApprovals,JobTypeDocument,DocumentApprovalRules">
                    <ul class="list-unstyled fw-normal pb-1 small ps-4">
                        @* Master Data Menu *@
                        <li>
                            <a class="nav-link link-secondary rounded-1 d-flex align-items-center"
                            data-bs-toggle="collapse"
                            href="#masterDataSubmenu"
                            role="button"
                            aria-expanded="@masterDataExpanded"
                            aria-controls="masterDataSubmenu">
                                <span>Master Data</span>
                                <i class="bi bi-chevron-down small ms-auto @masterDataChevronClass"></i>
                            </a>

                            <div class="collapse submenu @masterDataShowClass" id="masterDataSubmenu" data-nav-collapse="Vendors,JobType,DocumentType">
                                <ul class="list-unstyled fw-normal pb-1 ps-4 small">
                                    <li>
                                        <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "Vendors" }))"
                                        data-nav-controller="Vendors"
                                        asp-controller="Vendors"
                                        asp-action="Index"
                                        data-page="Vendors">
                                            Vendors
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "JobType" }))"
                                        data-nav-controller="JobType"
                                        asp-controller="JobType"
                                        asp-action="Index"
                                        data-page="Index Procurement Types">
                                            Procurement Types
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "DocumentType" }))"
                                        data-nav-controller="DocumentType"
                                        asp-controller="DocumentType"
                                        asp-action="Index"
                                        data-page="Index Document Types">
                                            Document Types
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        @* Rules & Mapping Menu *@
                        <li>
                            <a class="nav-link link-secondary rounded-1 d-flex alignments-center"
                            data-bs-toggle="collapse"
                            href="#rulesAndMappingSubmenu"
                            role="button"
                            aria-expanded="false"
                            aria-controls="rulesAndMappingSubmenu">
                                <span>Rules & Mapping</span>
                                <i class="bi bi-chevron-down small ms-auto @rulesAndMappingChevronClass"></i>
                            </a>

                            <div class="collapse submenu @rulesAndMappingShowClass" id="rulesAndMappingSubmenu" data-nav-collapse="JobTypeDocument,DocumentApprovals,DocumentApprovalRules">
                                <ul class="list-unstyled fw-normal pb-1 ps-4 small">
                                    <li>
                                        <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "JobTypeDocument" }))"
                                        data-nav-controller="JobTypeDocument"
                                        asp-controller="JobTypeDocument"
                                        asp-action="Index"
                                        data-page="Index Job Type Documents">
                                            Job Type Documents
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "DocumentApprovals" }))"
                                        data-nav-controller="DocumentApprovals"
                                        asp-controller="DocumentApprovals"
                                        asp-action="Index"
                                        data-page="Index Document Approvals">
                                            Document Approvals
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "DocumentApprovalRules" }))"
                                        data-nav-controller="DocumentApprovalRules"
                                        asp-controller="DocumentApprovalRules"
                                        asp-action="Index"
                                        data-page="Index Document Approval Rules">
                                            Document Approval Rules
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Assistant Manager HTE") || User.IsInRole("Manager Transport & Logistic") || User.IsInRole("Vice President") || User.IsInRole("Operation Director")) {

            @* Approval Documents Menu *@
            <li class="nav-item w-100">
                <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "Approvals" }))"
                data-nav-controller="Approvals"
                asp-controller="Approvals"
                asp-action="Index"
                data-page="Documents">
                    <i class="bi bi-file-earmark"></i> <span class="ms-1">Approval Documents</span>
                </a>
            </li>
        }

        @* Hanya Admin yang lihat menu ini *@
        @if (User.IsInRole("Admin")) {
            <li class="nav-item w-100">
                <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "UserManagement" }))"
                   data-nav-controller="UserManagement"
                   asp-controller="UserManagement"
                   asp-action="Index"
                   data-page="User Management">
                    <i class="bi bi-people"></i> <span class="ms-1">User Management</span>
                </a>
            </li>
        }

        <hr class="mt-auto w-100" />

        <li class="nav-item w-100 pb-4">
            <a class="nav-link link-secondary rounded-1 @(Html.ActiveClass(controllers: new[] { "Account" }, actions: new[] { "Settings" }))"
               data-nav-controller="Account"
               data-nav-action="Settings"
               asp-controller="Account"
               asp-action="Settings"
               data-page="Settings">
                <i class="bi bi-gear"></i> <span class="ms-1">Settings</span>
            </a>
        </li>

        @* <li class="nav-item w-100 pb-4">
      <a class="nav-link link-secondary rounded-1" asp-controller="Home" asp-action="Privacy" data-page="Privacy">
        <i class="bi bi-shield-check"></i> <span class="ms-1">Privacy</span>
      </a>
    </li> *@
    </ul>
</aside>
