@model IEnumerable<project_25_07.Core.Models.Vendor>

@{
    ViewData["Title"] = "Vendors Data";
}

<header class="d-flex justify-content-between align-items-center mb-3">
    <h1>Vendors</h1>

    <a asp-action="Create" class="btn btn-primary" role="button"><i class="bi bi-plus-circle"></i> Create New</a>
</header>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="mw-100 text-nowrap">
                    @Html.DisplayNameFor(model => model.VendorName)
                </th>
                <th class="mw-100 text-nowrap">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="mw-100 text-nowrap">
                    @Html.DisplayNameFor(model => model.Documents)
                </th>
                <th class="mw-100 text-nowrap">
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th class="mw-100 text-nowrap">Action</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            @foreach (var item in Model) {
                <tr>
                    <td class="mw-100 text-nowrap">
                        @Html.DisplayFor(modelItem => item.VendorName)
                    </td>
                    <td class="mw-100 text-nowrap">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="mw-100 text-nowrap">
                        @Html.DisplayFor(modelItem => item.Documents)
                    </td>
                    <td class="mw-100 text-nowrap">
                        @Html.DisplayFor(modelItem => item.User.Id)
                    </td>
                    <td class="mw-100 text-nowrap">
                        <a asp-action="Edit" asp-route-id="@item.VendorId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.VendorId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.VendorId">Delete</a>
                    </td>
                </tr>
            }
            
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="5" class="text-center">No data available</td>
                </tr>
            }
        </tbody>
    </table>
</div>