@model ProcurementHTE.Web.Models.ViewModels.WorkOrderCreateViewModel
@{
    var partialName = ViewBag.CreatePartial as string ?? "_CreateOther";
    var woTypeName = ViewBag.SelectedWoTypeName as string ?? "Other";
}

<section class="card shadow-sm mb-3 p-2 rounded-4">
    <fieldset class="card-body">
        <legend class="card-title fw-semibold">Subject</legend>
        <hr />
        <div class="row">
            <div class="col-12 mb-3">
                <label asp-for="WorkOrder.Description" class="form-label"></label>
                <textarea asp-for="WorkOrder.Description" class="form-control" maxlength="200" rows="3"></textarea>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="WorkOrder.XS1" class="form-label">From Location</label>
                <input asp-for="WorkOrder.XS1" class="form-control" />
                <span asp-validation-for="WorkOrder.XS1" class="text-danger small"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="WorkOrder.XS2" class="form-label">Destination</label>
                <input asp-for="WorkOrder.XS2" class="form-control" />
                <span asp-validation-for="WorkOrder.XS2" class="text-danger small"></span>
            </div>
        </div>
    </fieldset>
</section>

<section class="card shadow-sm mb-3 p-2 rounded-4">
    <fieldset class="card-body">
        <div class="d-flex">
            <legend class="card-title fw-semibold">Detail Items</legend>
            <button type="button" id="btn-add-detail" class="btn btn-outline-primary mb-2">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
        <hr />

        <div class="row" id="details-container">
            <div class="col-12">
                <label asp-for="WorkOrder.Note" class="form-label"></label>
                <textarea asp-for="WorkOrder.Note" class="form-control" maxlength="200" rows="3"></textarea>
                <span asp-validation-for="WorkOrder.Note" class="text-danger small"></span>
            </div>

            @if (Model.Details != null && Model.Details.Count > 0) {
                for (var i = 0; i < Model.Details.Count; i++) {
                    var key = i.ToString();
                    <div class="col-12 detail-row position-relative">
                        <input type="hidden" name="Details.Index" value="@key" />
                        <div class="row mb-3 align-items-end">
                            <div class="col-md-6">
                                <label class="form-label">Item Name</label>
                                <input type="text" class="form-control"
                                       name="Details[@key].ItemName" value="@(Model.Details[i].ItemName)" />
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Qty</label>
                                <input type="number" class="form-control" min="1"
                                       name="Details[@key].Quantity"
                                       value="@(Model.Details[i].Quantity == 0 ? "" : Model.Details[i].Quantity)" />
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Unit</label>
                                <input type="text" class="form-control"
                                       name="Details[@key].Unit" value="@(Model.Details[i].Unit)" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-outline-danger js-remove-detail">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            } else {
                var key = Guid.NewGuid().ToString("N").Substring(0, 8);
                <div class="col-12 detail-row border rounded p-3">
                    <input type="hidden" name="Details.Index" value="@key" />
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <label class="form-label">Item Name</label>
                            <input class="form-control" name="Details[@key].ItemName" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Qty</label>
                            <input class="form-control" type="number" min="1" name="Details[@key].Quantity" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Unit</label>
                            <input class="form-control" name="Details[@key].Unit" />
                        </div>
                        <div class="col-md-1 d-grid">
                            <button type="button" class="btn btn-outline-danger js-remove-detail">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </fieldset>
</section>

<section class="card shadow-sm mb-3 p-2 rounded-4">
    <fieldset class="card-body">
        <legend class="card-title fw-semibold">Contact Person</legend>
        <hr />
        <div class="row">
            <div class="col-6 mb-3">
                <label asp-for="WorkOrder.XS3" class="form-label">Contact Person in location</label>
                <input asp-for="WorkOrder.XS3" class="form-control">
                <span asp-validation-for="WorkOrder.XS3" class="text-danger small"></span>
            </div>

            <div class="col-6 mb-3">
                <label asp-for="WorkOrder.XS4" class="form-label">Contact Person in workshop</label>
                <input asp-for="WorkOrder.XS4" class="form-control">
                <span asp-validation-for="WorkOrder.XS4" class="text-danger small"></span>
            </div>
        </div>
    </fieldset>
</section>

<div class="mb-3 d-flex w-100 justify-content-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createWoModal"><i class="bi bi-check2-circle"></i> Save WO Moving</button>
</div>

@* Modal *@
<div class="modal fade" id="createWoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createWoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createWoModalLabel">Create Work Order</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah Anda ingin menambahkan Work Order baru? atau menyimpannya sebagai draft</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="submitAction" value="Draft">Save/Draft</button>
                <button type="submit" class="btn btn-success" name="submitAction" value="Created">Create</button>
            </div>
        </div>
    </div>
</div>
