@using ProcurementHTE.Core.Models
@model WorkOrder

@{
    ViewData["Title"] = "Work Order Details";
}

<h1>Details</h1>

<div>
    <h4>Work Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WoType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WoType.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tender.TenderName)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.WorkOrderId" class="btn btn-warning" role="button"><i class="bi bi-pencil-square"></i> Edit</a>
    <a asp-action="Index" class="btn btn-secondary" role="button"><i class="bi bi-arrow-left-circle"></i> Back to List</a>
</div>
