@using Microsoft.AspNetCore.Authorization
@using ProcurementHTE.Core.Models
@using ProcurementHTE.Core.Authorization
@model IEnumerable<WorkOrder>
@inject IAuthorizationService AuthZ
@{
    ViewData["Title"] = "Work Orders Data";
    var canCreate = await AuthZ.AuthorizeAsync(User, Permissions.WO.Create);
    var canEdit = await AuthZ.AuthorizeAsync(User, Permissions.WO.Edit);
    var canDelete = await AuthZ.AuthorizeAsync(User, Permissions.WO.Delete);
    bool isManager = (await AuthZ.AuthorizeAsync(User, "AtLeast.Manager")).Succeeded || User.IsInRole("Admin");
}

<header class="d-flex justify-content-between align-items-center mb-3">
    <h1>Work Orders</h1>

    <a asp-action="SelectType" class="btn btn-primary" role="button"><i class="bi bi-plus-circle"></i> Create New</a>
</header>

<div class="border border-bottom-0 d-flex p-2">
    <div class="d-flex gap-2">
        <button type="button" class="btn">
            <i class="bi bi-arrow-clockwise"></i>
        </button>

        <select name="datalistOptions" class="form-select">
            <option value="">1</option>
        </select>

        <input class="form-control" type="search" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">

        <datalist id="datalistOptions">
            <option value="San Francisco"></option>
            <option value="New York"></option>
            <option value="Seattle"></option>
            <option value="Los Angeles"></option>
            <option value="Chicago"></option>
        </datalist>
    </div>
    <button type="button" class="btn btn-outline-dark ms-auto">Filter</button>
</div>

<div class="table-responsive">
    <table class="table table-hover border">
        <thead class="table-light">
            <tr>
                <th class="mw-100 text-nowrap border-end">
                    @Html.DisplayNameFor(model => model.WoNum)
                </th>
                <th class="mw-100 text-nowrap border-end">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="mw-100 text-nowrap border-end">
                    @Html.DisplayNameFor(model => model.WoType)
                </th>
                <th class="mw-100 text-nowrap border-end">
                    @Html.DisplayNameFor(model => model.ProcurementType)
                </th>
                <th class="mw-100 text-nowrap border-end">
                    @Html.DisplayNameFor(model => model.DateLetter)
                </th>
                <th class="mw-100 text-nowrap">Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td class="mw-100 text-nowrap">
                        @Html.DisplayFor(modelItem => item.WoNum)
                    </td>
                    <td class="mw-100 text-nowrap">
                        @(item.Status?.StatusName ?? "-")
                    </td>
                    <td class="mw-100 text-nowrap">
                        @(item.WoType?.TypeName ?? "-")
                    </td>
                    <td class="mw-100 text-nowrap">
                        @Html.DisplayFor(modelItem => item.ProcurementType)
                    </td>
                    <td class="mw-100 text-nowrap">
                        @Html.DisplayFor(modelItem => item.DateLetter)
                    </td>
                    <td class="mw-100 text-nowrap">
                        <a class="link-warning link-opacity-50-hover text-decoration-none me-2" asp-action="Edit" asp-route-id="@item.WorkOrderId">
                            <span class="visually-hidden">Edit</span>
                            <i class="bi bi-pencil-fill"></i>
                        </a>

                        <a class="link-info link-opacity-50-hover text-decoration-none me-2" asp-action="Details" asp-route-id="@item.WorkOrderId">
                            <span class="visually-hidden">Detail</span>
                            <i class="bi bi-eye-fill"></i>
                        </a>

                        <a class="link-danger link-opacity-50-hover text-decoration-none me-2" asp-action="Delete" asp-route-id="@item.WorkOrderId">
                            <span class="visually-hidden">Delete</span>
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            }
            @if (!Model.Any() || Model == null) {
                <tr>
                    <td colspan="8" class="text-center">No work order data found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="hstack justify-content-between border p-2">
    <span>Showing 1-10 of @ViewData["TotalWo"] entries</span>
    <nav aria-label="Page navigation example">
        <ul class="pagination mb-0 gap-1">
            <li class="page-item">
                <a class="page-link border-0 rounded-circle"><i class="bi bi-chevron-left"></i></a>
            </li>
            <li class="page-item"><a class="page-link border-0 rounded-circle active" href="#">1</a></li>
            <li class="page-item"><a class="page-link border-0 rounded-circle" href="#">2</a></li>
            <li class="page-item"><a class="page-link border-0 rounded-circle" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link border-0 rounded-circle" href="#"><i class="bi bi-chevron-right"></i></a>
            </li>
        </ul>
    </nav>
</div>