@using ProcurementHTE.Core.Models
@model IEnumerable<Tender>

@{
    ViewData["Title"] = "Tenders Data";
}

<header class="d-flex justify-content-between align-items-center mb-3">
    <h1>Tenders</h1>

    <a asp-action="Create" class="btn btn-primary" role="button"><i class="bi bi-plus-circle"></i> Create New</a>
</header>

<div class="border rounded-3 d-flex gap-2 p-2 mb-2">
    <button type="button" class="btn btn-outline-secondary"><i class="bi bi-arrow-clockwise"></i> Refresh</button>

    <select name="filterOptions" class="form-select w-auto">
        <option value="">1</option>
        <option value="">5</option>
        <option value="">10</option>
        <option value="">25</option>
    </select>

    <div class="input-group w-auto">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <datalist id="datalistOptions">
            <option value="San Francisco"></option>
            <option value="New York"></option>
            <option value="Seattle"></option>
            <option value="Los Angeles"></option>
            <option value="Chicago"></option>
        </datalist>
        <input class="form-control" type="search" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    </div>

    <button type="button" class="btn btn-outline-secondary ms-auto"><i class="bi bi-funnel me-1"></i> Filter</button>
</div>

<div class="table-responsive border rounded-3">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th class="mw-100 text-nowrap border-end">
                    @Html.DisplayNameFor(model => model.TenderName)
                </th>
                <th class="mw-100 text-nowrap border-end">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="mw-100 text-nowrap border-end">
                    @Html.DisplayNameFor(model => model.Information)
                </th>
                <th class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>
            @if (!Model.Any() || Model == null) {
                <tr>
                    <td colspan="4" class="text-center">No data available</td>
                </tr>
            } else {
                foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenderName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Information)
                        </td>
                        <td class="text-center">
                            <a class="link-warning link-opacity-50-hover text-decoration-none me-2" asp-action="Edit" asp-route-id="@item.TenderId" role="button">
                                <span class="visually-hidden">Edit</span>
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a class="link-info link-opacity-50-hover text-decoration-none me-2" asp-action="Details" asp-route-id="@item.TenderId" role="button">
                                <span class="visually-hidden">Detail</span>
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            <a class="link-danger link-opacity-50-hover text-decoration-none me-2" asp-action="Delete" asp-route-id="@item.TenderId" role="button">
                                <span class="visually-hidden">Delete</span>
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="hstack justify-content-between border rounded-3 my-2 p-2">
    <span>Showing 1-10 of @ViewData["TotalWo"] entries</span>
    <nav aria-label="Page navigation example">
        <ul class="pagination mb-0 gap-1">
            <li class="page-item">
                <a class="page-link border-0 rounded-circle"><i class="bi bi-chevron-left"></i></a>
            </li>
            <li class="page-item"><a class="page-link border-0 rounded-circle active" href="#">1</a></li>
            <li class="page-item"><a class="page-link border-0 rounded-circle" href="#">2</a></li>
            <li class="page-item"><a class="page-link border-0 rounded-circle" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link border-0 rounded-circle" href="#"><i class="bi bi-chevron-right"></i></a>
            </li>
        </ul>
    </nav>
</div>